@import url(_reset.css);
@import url(_variables.css);


.head-box {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 60px
}

.language {
    width: 125px;
    height: 36px;
    margin-left: 20px;
    background-color: #eee;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;


}




.language .language-item:hover {
    width: 40px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    border-radius: 8px;
    color: aliceblue;
    transition: 1s;
    background-color: var(--primaryRed);
}





.bt-box {
    display: flex;
    padding-left: 600px;

}


.bt-box button {
    width: 100px;
    height: 35px;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 10px;
    font-size: 14px;

}

.left-bt button {

    background-color: var(--white);
    margin-right: 17px;


}




.right-bt button {

    background-color: var(--primaryRed);
}



.right-bt button a {
    color: var(--white);

}


.left-bt button a {
    color: var(--black);
}


.nav-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    background-color: #f9f9f9;
    padding: 0px 105px 0px;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
    z-index: 1;

}


.nav-item .nav-link {
    width: 100%;
    margin-left: -20px;
    margin-top: 20px;



}



.nav-item .nav-link a {
    color: var(--black);
    font-weight: 500;
}

/* .nav-item .nav-link li ::after{
    content: "\007C";
  
} */

.blocks {
    width: 100%;
    height: 300px;
    padding-left: 115px;




}

.block {
    width: 1120px;
    height: 110px;
    display: flex;
    align-items: center;
    margin-top: 70px;
    padding: 0px 50px;
    border: 1px solid #eee;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 14px;


}

.block h6 {
    width: 150px;
    font-size: 14px;
    margin-right: 21px;
 

}


.city-block input {
    width: 250px;
    border-radius: 10px;
    font-size: 27px;
    border: 2px solid #ccc;


}


input,
input::placeholder {
    font-size: 15px;
    padding: 0px 15px 5px;
}



.city-block span {
    display: inline-block;
    left: 15px;
    font-size: 10px;
    background-color: white;

}


.street-box input{

    width: 250px;
    border-radius: 10px;
    font-size: 27px;
    border: 2px solid #ccc;
}



.street-box span {
    display: inline-block;
    left: 15px;
    font-size: 10px;
    background-color: white;

}




.home-box input{

    width: 150px;
    border-radius: 10px;
    font-size: 27px;
    cursor: not-allowed;
    border: 2px solid #ccc;
}



.home-box span {
    display: inline-block;
    left: 15px;
    font-size: 10px;
    background-color: white;

}



.close-bt button {
    width: 170px;
    border-radius: 10px;
    font-size: 27px;
    margin-bottom: 25px;
    padding-bottom: 6px;
    margin-left: 20px;
    cursor: not-allowed;
    background-color: #dbdbdb;
    border: 2px solid #ccc;




}


.close-bt button a {
font-size: 17px;
font-weight: 900;
color: #b8b8b8;
cursor: not-allowed;

}

